# *I. Titanic*

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [5]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train_data.info() #xem thông tin bị thiếu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

## Tiền xử lí dữ liệu

In [7]:
# Xử lý dữ liệu thiếu
train_data['Age'].fillna(train_data['Age'].median(), inplace=True) #dùng median để tránh cái giá trị ngoại lai
train_data['Embarked'].fillna(train_data['Embarked'].mode()[0], inplace=True) #
train_data.drop(columns=['Cabin'], inplace=True)  # quá nhiều giá trị thiếu

# Encode giới tính
train_data['Sex'] = train_data['Sex'].map({'male': 0, 'female': 1})

# Encode Embarked
train_data = pd.get_dummies(train_data, columns=['Embarked'], drop_first=True)

# Xóa cột không cần thiết
train_data.drop(columns=['PassengerId', 'Name', 'Ticket'], inplace=True)

#check lại
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Sex           891 non-null int64
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: float64(2), int64(5), uint8(2)
memory usage: 50.5 KB

## Tạo đặc trưng mới

In [8]:
# Tạo feature FamilySize
train_data['FamilySize'] = train_data['SibSp'] + train_data['Parch'] + 1 # tổng số thành viên trong gia đình (Nghiên cứu cho thấy người đi một mình tỉ lệ sống sót thấp hơn một nhóm nhỏ)

train_data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,FamilySize
0,0,3,0,22.0,1,0,7.2500,0,1,2
1,1,1,1,38.0,1,0,71.2833,0,0,2
2,1,3,1,26.0,0,0,7.9250,0,1,1
3,1,1,1,35.0,1,0,53.1000,0,1,2
4,0,3,0,35.0,0,0,8.0500,0,1,1

## Chọn đặc trưng phù hợp

In [9]:
# Chọn các cột đặc trưng (sau khi đã xử lý và tạo mới)
features = ['Pclass', 'Sex', 'Age', 'Fare', 'FamilySize', 'Embarked_Q', 'Embarked_S']
X = train_data[features]

# Biến mục tiêu
y = train_data['Survived']

In [10]:
X.head()

   Pclass  Sex   Age     Fare  FamilySize  Embarked_Q  Embarked_S
0       3    0  22.0   7.2500           2           0           1
1       1    1  38.0  71.2833           2           0           0
2       3    1  26.0   7.9250           1           0           1
3       1    1  35.0  53.1000           2           0           1
4       3    0  35.0   8.0500           1           0           1

In [11]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

## Chuẩn hóa dữ liệu số

In [21]:
X = X.astype('float64') # chuyển dữ liệu về float64
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)# chuẩn hóa dữ liệu về thang đo có trung bình =0 và độ lệch chuẩn bằng 1 theo công thức: X_scale=(X-mean)/std
print(X_scaled)
print(X.mean())
print(X.std())

[[ 0.82737724 -0.73769513 -0.56573646 ...  0.05915988 -0.30756234
   0.61583843]
 [-1.56610693  1.35557354  0.66386103 ...  0.05915988 -0.30756234
  -1.62380254]
 [ 0.82737724  1.35557354 -0.25833709 ... -0.56097483 -0.30756234
   0.61583843]
 ...
 [ 0.82737724  1.35557354 -0.1046374  ...  1.29942929 -0.30756234
   0.61583843]
 [-1.56610693 -0.73769513 -0.25833709 ... -0.56097483 -0.30756234
  -1.62380254]
 [ 0.82737724 -0.73769513  0.20276197 ... -0.56097483  3.25137334
  -1.62380254]]
Pclass         2.308642
Sex            0.352413
Age           29.361582
Fare          32.204208
FamilySize     1.904602
Embarked_Q     0.086420
Embarked_S     0.725028
dtype: float64
Pclass         0.836071
Sex            0.477990
Age           13.019697
Fare          49.693429
FamilySize     1.613459
Embarked_Q     0.281141
Embarked_S     0.446751
dtype: float64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)# test_size=0.2 lấy 20% dữ liệu sẽ dùng để kiểm tra còn 80% để huấn luyện

## Huấn luyện mô hình đơn giản với Scikit-learn

In [16]:
model = LogisticRegression(solver='lbfgs')#Khởi tạo mô hình Logistic Regression để giải quyết bài toán phân loại solver='lbfgs':Đây là thuật toán tối ưu được dùng để tìm các tham số tốt nhất của mô hình. Nó hoạt động hiệu quả với dataset vừa và lớn.
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

## Đánh giá mô hình với các chỉ số cơ bản

### Classification: Accuracy, Precision, Recall, F1 Score.

In [17]:
y_pred = model.predict(X_test)
print("Accuracy :", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall   :", recall_score(y_test, y_pred))
print("F1 Score :", f1_score(y_test, y_pred))

Accuracy : 0.8044692737430168
Precision: 0.782608695652174
Recall   : 0.7297297297297297
F1 Score : 0.7552447552447553

###  Regression: Mean Absolute Error, Mean Squared Error, R-squared.

In [23]:
# Tính Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)
# Tính Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
# Tính R-squared (R²)
r2 = r2_score(y_test, y_pred)
print("R-squared (R²):", r2)

Mean Absolute Error (MAE): 0.19553072625698323
Mean Squared Error (MSE): 0.19553072625698323
R-squared (R²): 0.1936936936936937